# Data can be downloaded from https://www.kaggle.com/datasets/grassknoted/asl-alphabet
# There will be a zip file named data.zip which should be placed in the main directory ASL_American_Sign_Language_To_Speech/data.zip (relative path)
# Dataset is too big, it should be downloaded separately from the link above
# Therefore, there is no need to push data to the repository
*.zip
*.jpg

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
